* {
  box-sizing: border-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-style: normal;
  font-variant: normal;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
}

p {
  font-weight: 400;
  margin: 0;
}

:root {
  --light: rgba(254, 254, 254, 1);
  --dark: rgba(2, 0, 36, 1);
  --primary: rgba(9, 9, 121, 1);
  --highlight: rgba(9, 88, 9, 1);
  --grey: grey;
}

body {
  margin: 0 auto;
  color: var(--dark);
  background: var(--dark);
  background: linear-gradient(
    180deg,
    var(--dark) 0%,
    var(--primary) 12rem,
    var(--light) 12rem
  );
  width: 100vw;
  overflow-x: none;
  overflow-y: scroll;
}

.main {
  max-width: 968px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.col-8 {
  width: calc(8 / 12 * 100%);
}

.col-4 {
  width: calc(4 / 12 * 100%);
  padding-right: 1rem;
}

section {
  display: flex;
}

.position {
  text-transform: uppercase;
  margin: 0;
}

.experience-item {
  margin-bottom: 1rem;
}

.banner {
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--light);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 12rem;
}

.company {
  color: var(--dark);
  text-decoration: none;
}

.company:hover {
  text-decoration: underline;
}

.date {
  font-style: italic;
  color: var(--grey);
}

.logo {
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 1rem;
  display: inline-block;
}

.employer {
  font-size: 14px;
}

#enhance {
  background-image: url("enhance_whiteblue.svg");
}

.avatar {
  position: absolute;
  top: -60px;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("sepik.jpg");
  height: 350px;
  width: 300px;
}
